/* Custom styles for the homepage */

/* Hero Section */
.hero-section {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://source.unsplash.com/pSaEMIiUO84');
    background-size: cover;
    background-position: center;
    color: #fff;
  padding: 300px 0;
  
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
}

.hero-section p {
  font-size: 1.25rem;
    margin-bottom: 30px;
  color:  #cdd8cb;
}

.hero-section .btn-primary {
  background-color: #3D5A3B;
  border-color: #3D5A3B;
}

/* Featured Campgrounds Section */
.campgrounds-section {
  padding: 40px 0;
}

.campgrounds-section h2 {
  color: #1B4332;
}

.campgrounds-section .card {
  border: 2px solid #B04B3E;
  border-radius: 10px;
}

.campgrounds-section .card-title {
  color: #1B4332;
}

.campgrounds-section .card-text {
  color: #556B2F;
}

.campgrounds-section .btn-primary {
  background-color: #3D5A3B;
  border-color: #3D5A3B;
}

  
  footer {
    margin-top: 50px;
    background-color: #393E41;
    color: #fff;
  }
  
  footer p {
    margin: 0;
  }
  
  .navbar {
    background-color: #F3E5AB;
  }
  


.navbar-brand {
    color: #393E41;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link {
    color: #393E41;
  }
  
  .nav-link:hover {
    color: #1B4332;
  }
  
  .text-center {
    text-align: center;
  }
  
  .bg-dark {
    background-color: #393E41;
  }
  
  .text-light {
    color: #fff;
  }
  